@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60vw; 
    background-color: #fcf6fc;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #0a846e;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* OBS! Ändrat från max-width: 1000px;, förstör breakpoints annars */
    height: 540px; 
    margin: 0 auto;
}
  
.left-column,
.right-column {
    display: flex;
    width: 50%; 
    height: 100%;
}

.left-column {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
  
.right-column {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.right-item {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.upper {
   background-color: #9e6d52;
}

.down {
    background-color: #0a846e;
}

.left-column img {
  width: 100%; 
  max-height: 100%;
}
.hamburger-icon {
    display: none !important;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    color: #006400;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

/* .hamburger-icon span {
    height: 3px;
    background-color: black;
    width: 100%;
} */

/* NAV */
nav {
    display: flex;
    justify-content: center;
    width: 100%; /* Ändrat till 100% för att täcka hela bredden */
    height: 70px;
    background-color: white;
    /* max-width: 1000px; Detta tas bort eftersom maxbredd inte behövs */
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%; 
    padding: 0;
    margin: 0;
}
  
li a {
    text-decoration: none;
    color: #0a846e;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
li a:hover {
    background-color: lightgray; 
    color: darkgreen;
}



/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%; 
    /* max-width: 1000px; Behåll denna för att inte påverka main-innehållet */
    margin: 0 auto;
    background-color: white;
}

.content-container {
    max-width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.main-logo, 
.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    position: relative;
    padding-left: 40px;
    color: black;
    line-height: 1.5;
    width: 60%;
}

.text-content > h1, p {
    margin-bottom: 20px;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a846e;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.main-logo img {
    width: 40%;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0a846e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    width: 130px;
    height: 50px;
}

button:hover {
    background-color: #006400;
}

.custom-line {
    height: 2px; 
    background-color: #0a846e; 
    width: 40%; 
    margin: 50px 0 90px 0;
}

.custom-heading {
    /* font-size: 2rem; */
    font-weight: 700;
    margin-top: 30px;
    color: black;
    text-align: center;
}

/* Galleriinställningar */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card {
    height: 450px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.image-container img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.product-name {
    font-weight: bold;
}

.date {
    font-size: 0.9em;
    color: #666;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.thin-name {
    font-size: 0.8em;
    color: #888;
}

.btn-remove {
    width: 95px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #B93857;
}

/* CTA knapp */
.btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 80px 0;
}


/* CONTENT LAYOUT */

/* Content Layout */
.content-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* .left-column {
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  /* .right-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  } */
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
.content-layout .cta-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 280px;
  }


  .left-column-down {
    padding: 0px 0px 10px 0px;
    flex: 1;
    color: black;
  }
  
  .right-column-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 

}

/* Container för cirkeln */
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Hindrar Flexbox från att krympa denna container */
}

/* Cirkeln */
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    background-color: #0a846e;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

/* Bilden inuti cirkeln */
.circle img {
    width: 50%; 
    height: 50%; 
}


/* footer */
footer {
    margin-top: 100px;
    width: 100%;
    background-color: #f5f5f5;
}

.columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-image: url('./assets/images/handsidan.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}

.left-column-bottom {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.greeting {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
}

.phone,
.email {
    display: flex;
    align-items: center;
}

.phone .fa-phone-alt,
.email .fa-envelope {
    margin-right: 10px;
    color: #ffffff;
}

.phone-number,
.email-text {
    color: #ffffff;
}

.right-column-bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.nav-bottom > a {
    color: black;
    text-decoration: none;
}

@media (max-width: 700px) {
    body {
        width: 100vw; 
        margin: 0; 
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column; 
        width: 100%; 
        position: relative;
    }

    .left-column, 
    .right-column {
        width: 100%; 
        /* flex: 1; */
    }    

    .right-column {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }

    .right-item {
        flex: 1; 
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%; /* Ser till att de tar 50% av bredden var */
    }

    .upper, 
    .down {
        flex: 1; /* Lika mycket plats för båda */
        width: 100%;
        height: auto; 
    }

    nav ul {
        display: none; 
    }

    /* main */
    .main-title {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    .content-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrerar vertikalt */
        align-items: center; /* Centrerar horisontellt */
        text-align: center;
        height: 100%; /
    }

    .custom-heading {
        color: black;
        margin-top: 60px;
        font-size: 12px;
    }



    /* Grid */
    .gallery {
        grid-template-columns: repeat(2, 1fr); 
        /* gap: 10px; */
        width: 90%;
      }

      .additional-info, .product-info {
        font-size: 0.7rem;
      }

      /* .content layout */
      .content-layout {
        display: flex;
        flex-direction: column;
        align-items: center;

        
      }

      .left-column-down {

        color: black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .left-column-down > h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      .left-column-down > .cta-button {
        height: 50px;
        width: 150px;
        font-size: 0.8rem;
        /* display: inline-block; Ser till att knappen beter sig korrekt */
        margin-top: 30px; 
        text-align: center;
        
      }



    /* circle */
    .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; /* Hindrar Flexbox från att krympa denna container */
    }
    
    /* Cirkeln */
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        background-color: #0a846e;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
    }
    
    /* Bilden inuti cirkeln */
    .circle img {
        width: 50%; 
        height: 50%; 
    }
    
            
    /* footer */
    .columns {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-column-bottom, .right-column-bottom {
        flex: 1;
        font-size: 0.7rem;
    }

    .hamburger-icon {
        display: inline-block !important;
        font-size: 2rem;
        cursor: pointer;
        position: absolute; 
        top: 20px; 
        right: 20px; 
        z-index: 10; 
        color: white;
    }
    
}